<!DOCTYPE html>
<html>
<head>
    <title>DataMan</title>
</head>
<body>
    <h1>Welcome to DataMan</h1>

    <p>My DataMan project is working!</p>

    <form action="/answer_checker" method="get">
    <label>Select Difficulty:</label><br><br>

    <input type="radio" name="difficulty" value="easy" checked> Easy<br>
    <input type="radio" name="difficulty" value="medium"> Medium<br>
    <input type="radio" name="difficulty" value="hard"> Hard<br><br>

    <button type="submit">Start Game</button>
</form>
</body>
</html>